@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

.slider {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.slider h1 {
  font-family: 'Bakbak One', sans-serif;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.1em #000000;
  color: #ffffff;
  margin-bottom: 25px;
}

.slider h2 {
  font-family: 'Bakbak One', sans-serif;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.1em #000000;
  color: #ffffff;
  margin-bottom: 40px;
  box-shadow:  0px 0px 30px #86CEEB;
  border: 5px solid #71b5ff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px #86CEEB;
  box-shadow:  0px 0px 30px #86CEEB;
  padding: 3px 6px;
  margin-top: 15px;
  animation: shadow-pulse 0.5s infinite alternate; /* Adiciona a animação de pulsação à sombra */
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0px 0px 30px #86CEEB;
  }
  100% {
    box-shadow: 0px 0px 60px #86CEEB; /* Ajuste o tamanho da sombra conforme desejado */
  }
}

/* Continuação do CSS existente */

.card p {
  text-align: center;
  color: #ffffff;
  font-family: Arial, sans-serif; /* Adicionando uma fonte de texto alternativa */
  font-size: 15px; /* Tamanho da fonte */
  padding: 10px; /* Espaçamento interno */
}

.card:hover {
  transform: translateY(-15px); /* Efeito de levantamento suave ao passar o mouse */
}

.services {
  padding: 25px 70px 25px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 1000px;
  height: 500px;

}

.card {
  border: rgb(113, 181, 255, .4) solid 3px;
  border-radius: 2rem;
  width: 25%;
  height: 80%;
  background-color: rgba(76, 89, 104, .4);
  transition: all .3s ease-in-out;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.4); /* Box shadow adicionado */
}

.card:hover {
  transform: translateY(-15px); /* Efeito de levantamento suave ao passar o mouse */
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.7); /* Aumenta o box shadow ao passar o mouse */
}

.description_title {
  font-family: 'Bakbak One', sans-serif;
  text-shadow: 0.1em 0.1em 0.1em #000000;
  text-align: center;
  color: #ffffff;
}


.description {
  border-top: rgb(113, 181, 255, .4) solid 3px;
  text-align: start;
}

.apresentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90vh;
  animation: animate 16s ease-in-out infinite;
  position: relative;
}

.apresentation h1{
  font-family: 'Bakbak One', sans-serif;
  color: #ffffff;
  text-shadow: 0.1em 0.1em 0.1em #000000;
  font-size: 70px;
}

.apresentation h2{
  font-family: 'Bakbak One', sans-serif;
  color: #ffffff;
  text-shadow: 0.1em 0.1em 0.1em #000000;
  font-size: 50px;
}

@keyframes animate {
  0%, 100% {
      background-image: url(./cardImg/2.jpg);
      background-size: cover;
  }
  25% {
      background-image: url(./cardImg/3.jpg);
      background-size: cover;
  }
  50% {
      background-image: url(./cardImg/4.jpg);
      background-size: cover;
  }
  75% {
      background-image: url(./cardImg/5.jpg);
      background-size: cover;
  }
}

.contact-btn {
  width: 2em;
  height:2em;
}

.btnW {
  transition-duration: 0.4s;
}

.btnW:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}

/* Responsividade */

@media screen and (max-width: 770px) {
  .slider {
    height: auto;
    width: auto;
    animation: none;
    justify-content: center;
    align-items: center;
  }

  .slider h1 {
    font-size: 28px;
    line-height: 30px;
    
  }

  .slider h2 {
    font-size: 17px;
    margin-bottom: 80px;
  }
  .services {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 250px;
    height: 1200px;
  }

  .card {
    border: rgb(113, 181, 255, .4) solid 3px;
    border-radius: 0.5rem;
    width: 100%;
    height: 80%;
    background-color: rgba(76, 89, 104, .4);
    transition: all .5s ease-in-out;
    margin-bottom: 40px;  
  }

  .apresentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90vh;
    animation: animate 16s ease-in-out infinite;
    position: relative;
  }
    
  @keyframes animate {
    0%, 100% {
        background-image: url(./cardImg/m2.jpg);
        background-size: cover;
        background-position: right;
    }
    25% {
        background-image: url(./cardImg/m3.jpg);
        background-size: cover;

    }
    50% {
        background-image: url(./cardImg/m4.jpg);
        background-size: cover;
        background-position: left;

    }
    75% {
        background-image: url(./cardImg/m5.jpg);
        background-size: cover;
    }
  }

}