@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

.container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    background-color: #ffffff;
    padding-top: 15px;
    margin-bottom: 15px;
  }
  
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .imgLogo {
    width: 38vh;
    height: auto;
  }
  
  .text {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vh;
    text-align: start;
    font-family: 'Bakbak One', sans-serif;
    font-size: 15px;
    text-shadow: 0.1em 0.1em 0.1em #71b5ff;
    color: #ffffff;
    background-color: #007AFF;
    border-radius: 3rem;
    border: #71b5ff solid 5px;
  }